<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybaits.rog//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyy.eu.mapper.AddressMapper">

    <select id="selectAname" resultType="com.lyy.eu.pojo.AddressInfo" parameterType="com.lyy.eu.pojo.GoodsPage">
        select * from addressinfo
    </select>

    <insert id="addAddress" parameterType="com.lyy.eu.pojo.AddressInfo">
        insert into addressinfo (aname) values (#{aname});
    </insert>

    <update id="updateAddress" parameterType="com.lyy.eu.pojo.AddressInfo">
        update addressinfo set aname = #{aname} where aid=#{aid}
    </update>

    <select id="findGoodByAidSend" parameterType="Integer" resultType="com.lyy.eu.pojo.GoodsInfo">
        select * from goodsinfo where aid=#{aid}
    </select>

    <delete id="delAddress" parameterType="com.lyy.eu.pojo.AddressInfo">
        delete from addressinfo where aid=#{aid};
    </delete>

    <select id="findAddressSend" resultType="com.lyy.eu.pojo.AddressInfo" parameterType="com.lyy.eu.pojo.PageInfo">
        select * from addressinfo order by aid limit ${page}, ${rows}
    </select>

    <select id="findTotal" resultType="Integer" parameterType="com.lyy.eu.pojo.PageInfo">
        select count(1) from addressinfo
    </select>
</mapper>
